<div class="container col-md-10">
    <div class="card">
        <div class="card-header">
            <h3>
                Modificacion de datos
            </h3>
        </div>
        <div class="card-body">
            <form action="">
                <table class="table table-light">

                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="">Codigo :</label>
                                <input [(ngModel)]="parametro.code" type="text" name="code" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label for="">Valor :</label>
                                <input [(ngModel)]="parametro.value" type="text" name="value" class="form-control">
                            </div>
                        </td>

                    </tr>


                    <button (click)="Actualizar(parametro)" class="btn btn-info">Actualizar</button>
                </table>
            </form>
        </div>
    </div>
</div>